<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="pageTitle has-text-white">JUST MUSIC REVIEWS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
 <body>
     <nav class="navbar is-dark">
        <div class="navbar-menu">
            <div class="navbar-start">
                {{#if loggedIn}}
                <a class="navbar-item" href="/">Homepage</a>
                <a class="navbar-item" href="/dashboard">Dashboard</a>
                <a class="navbar-item" href="/dashboard/create/">Write a Review</a>
                <a class="navbar-item" href="/logout">Logout</a>
                {{else}}
                <a class="navbar-item has-text-grey-light" href="/">Homepage</a>
                <a class="navbar-item has-text-grey-light" href="/login">Login/Signup</a>
                {{/if}}
                </div>
            </div>
        </div>
    </nav>
    <section class="hero">
        <figure class="image">
            <img src="https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </figure>
    </section>

<main class="has-background-grey-light">
    {{{ body }}}
</main>

<footer class="footer rows">
    <div class="row-is-full content has-text-centered">
        <p>
            <a href="/">Homepage</a>{{#if loggedIn}} |
            <a href="/dashboard/">Dashboard</a>
            {{else}}
            |
            <a href="/login/">Login</a>
            {{/if}}
        </p>
    </div>
</footer> 
</div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
     
 </body>
</html>