<div class="columns is-centered">
  <div class="column is-half has-text-black">
<h2 class="title has-text-centered pb-4 is-underlined">*Login*</h2>
<form class="login-form has-text-centered">
  <div class="is-size-4">
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div class="is-size-4 pb-2">
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="button has-background-link has-text-white is-rounded">Login</button>
    <a href="/signup"><button type="button" class="button has-background-link has-text-white is-rounded">Signup</button></a>
  </div>
</form>
</div>
</div>

<script src="/javascript/login.js"></script>